*{
    padding: 0;
    margin: 0;
}
body {
    background-color: #10F3EA;
}
.logo-land {
    background-color: white;
    box-shadow: 2px 2px 4px #020f0f;
}
.logo-menu img {
    padding-left: 120px;
    width: 150px;
}
.logo-menu {
    display: flex;
    justify-content: space-between;
}
.menu {
    padding-right: 40px;
    display: flex;
}
.menu li{
    list-style: none;
    padding:10px ;
}
.menu li a {
    text-decoration: none;
    
}
.holand {
    padding-left: 20%;
    padding-bottom: 30px;
}
.holand li {
    padding: 0 50px;
}
@media (min-width: 375px) {
    /* Styles for screens wider than 375px */
    body {
        background-color: #020f0f;
    }
}
  